# rename this file to remote_config.rb

module RemoteConfig
	CONFIG = {
		# configure your backups here!
		:backups => [
			FolderBackup.new(:path => 'backuped_dir', :name => 'my_folder'),
			# ...
			MySQLBackup.new(:name => 'my_mysql_db', :username => 'my_user', :password => 'my_p4ss', :db => 'some_db')
			# ...
			MongoDBBackup.new(:name => 'my_mongo_db', 'db' => 'some_db')
			# ...
		],

		# temp folder used for the program, don't touch if you don't know what you are doing
		:tmp_folder => '/tmp/backuper',

		# folder where the files will be copied (compressed)
		# it will be created if it doesn't exists
		:destiny_path => '/home/my_user/backup',

		# number of versions mantained before deleting the backup.
		:rotations => 4
	}
end
